<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    {% block angular_bootstrap %}
        <!-- ALL OF THIS PER W3SCHOOLS -->
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap  -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Angular.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- ui-bootstrap (for Angular/bootstrap compatibility; incompatible with jQuery -->
        <script src="{% static 'js/ui-bootstrap-tpls-0.12.1.min.js' %}"></script>

        <!-- no longer using jquery, replacing with ui-bootstrap to allow for using Angular with Bootstrap
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        -->
   {% endblock %}

    {% block page_scripts %}
    {% endblock %}

    <title>{% block title_block %}Doug Murphy Interactive Resume{% endblock %}</title>
</head>
<body>
    {% block body_block %} This is the default content for body_block in base.html.{% endblock %}
</body>
</html>