{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/dmfavico.png' %}" />


    <!-- for smartphone bookmarkers -->
    <link rel="apple-touch-icon" href="{% static 'images/dmfavico.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/dmfavico.png' %}" />


    {% block angular_bootstrap %}
        <!-- Load Angular.js script, Bootstrap CSS,
            and ui-bootstrap.js that lets the two work together without jquery -->

        <!-- For non-angular pages (none currently), replace this block with an include call to angular_subtemplate.html -->

        <!-- Bootstrap  -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Angular.js -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- Angular animation -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
        <!-- ui-bootstrap (for Angular/bootstrap compatibility; incompatible with jQuery -->
        <script src="{% static 'js/ui-bootstrap-tpls-0.13.0.min.js' %}"></script>

        <script src="{% static 'js/resume-angular-controllers.js' %}"></script>

    {% endblock angular_bootstrap %}

    {% block default_styles %}

        <link href="{% static 'css/resume.css' %}" rel="stylesheet">

        <!-- From Google fonts, http://www.google.com/fonts-->
        <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>

    {% endblock default_styles %}

    {% block page_scripts %}
        <!-- Any page-specific script tags or imports can go here -->
    {% endblock page_scripts %}


    <title>{% block title_block %}Doug Murphy Interactive Resume{% endblock %}</title>


    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62413410-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Toggle for the "How I made this page" popout -->
    <script>
        resume_app.controller('footerDivController', function($scope) {
            $scope.popOpen = false;
            /**/
            $scope.toggleFooterDiv = function() {
                $scope.popOpen = $scope.popOpen === false;
            }

        });
    </script>
</head>
<body ng-app="resume-app">

<div id="menuSpacerDiv"></div>

    <!-- Top Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="{% url 'resume.views.index' %}">Doug's Interactive Resume</a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse" id="myNavbar" collapse="isCollapsed" ng-init="isCollapsed=true">
          <ul class="nav navbar-nav">
            <li{% if nbar == "index" %} class="active"{% endif %}><a href="{% url 'resume.views.index' %}">Welcome</a></li>
            <li{% if nbar == "all_my_jobs" %} class="active"{% endif %}><a href="{% url 'resume.views.all_my_jobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Work Summary</a></li>
            <li{% if nbar == "portfolio" %} class="active"{% endif %}><a href="{% url 'resume.views.portfolio' %}"><span class="glyphicon glyphicon-blackboard"></span> Philosophy</a></li>
            <li{% if nbar == "about" %} class="active"{% endif %}><a href="{% url 'resume.views.contact' %}"><span class="glyphicon glyphicon-envelope"></span> About</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Body -->
    {% block body_block %}
        <!-- this should always be replaced by page content -->
        This is the default content for body_block in base.html.
    {% endblock %}

    <!-- Page Footer -->

    <footer ng-controller="footerDivController">
    <div class="popoutFooterDiv" ng-show="popOpen">{% include "irf/site_build_subtemplate.html" %}</div>
        <h4>Prefer a <a href="{% static 'DougMurphyResume12-10-2014.pdf' %}">traditional PDF resume</a>?<a href="#" class="floatRight" ng-click="toggleFooterDiv();">How did I build this page?</a></h4>
    </footer>
</body>
</html>