{% extends 'resume/base.html' %}

{% load static %}

{% block page_scripts %}

    <style>
        .jobTitle {
            float: right;
            font-style: italic;
            font-size: 0.9em;
        }

        .maintab a {
            white-space: pre;
            text-align: center;
        }

        @media (max-width: 700px) {
            .maintab {
                font-size: 0.8em;
            }
        }
    </style>

    <script>
        resume_app.controller('tabController', ['$scope', function($scope) {

            //Hand off data from middleware (Django) to browser (Angular)
            //TODO TEST: What if I just handed off the job objects?
            $scope.jobs_from_django = [
                {% for job in jobs %}
                    {% autoescape off %}
                    {company_name: "{{ job.company_name }}", job_title: "{{ job.job_title }}",
                    job_description: "{{ job.job_description }}", service_time: "{{ job.service_time }}",
                    date_range: "{{ job.date_range }}", job_id: "{{ job.id }}",
                    heading: "{{ job.company_short_name }}" + "\r\n" + "{{ job.date_range_year_only }}",
                    splash_image: "{% if job.splash_image %} {% static job.splash_image %} {% endif %}",
                    company_logo: "{% static job.company_logo  %}", id: "{{ job.id }}",
                    skill_icons: [
                        {% for skill in job.related_skills %}
                            "{% static skill.skill_logo %}",
                        {% endfor %}
                    ], skills: [
                        {% for skill in job.related_skills %}
                            "{{ skill.skill_name }}",
                        {% endfor %}],

                    accomplishments: [
                        {% for thing in job.related_accomplishments %}
                            '{{ thing.accomplishment_text }}',
                        {% endfor %}
                    ],
                    splash_image_caption: '{{ job.splash_image_caption }}'//Should find an autoescape answer that works for both single and double quotes in content
                    {% endautoescape %}
                    },


                {% endfor %}
            ];

        }]); //End tabController



    </script>

{% endblock page_scripts %}

{% block body_block %}
<div class="container" ng-controller="tabController" ng-cloak>

    {%verbatim%}
    <tabset>
        <tab class="maintab" ng-repeat="job in jobs_from_django" heading="{{ job.heading }}" active="tab.active" id="tab{{ job.id }}">
            <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <h1><img src="{{ job.company_logo }}" class="medium-logo"/> {{ job.company_name }}<span class="jobTitle">{{ job.job_title }}</span></h1>
                    </div>
                    <div class="panel-body">
                        <h5 class="date-range">{{ job.date_range }}</h5>

                        <p>{{ job.job_description }}</p>

                        <ul>

                                <li ng-repeat="thing in job.accomplishments"><h4>{{ thing }}</h4></li>

                        </ul>
                        <div id="menuSpacerDiv"></div>


                        <div class="row">
                            <div class="col-lg-6 col-med-6 col-sm-6">

                                <div ng-if="job.splash_image" class="panel panel-default image-panel">
                                    <figure>
                                        <img src="{{ job.splash_image }}" alt="{{ job.splash_image_caption }}"/>

                                        <figcaption>{{ job.splash_image_caption }}</figcaption>

                                    </figure>
                                </div> <!-- job image panel -->

                            </div> <!-- job image column -->
                            <div class="col-lg-6 col-med-6 col-sm-6">
                                <div ng-show="job.skill_icons.length" class="panel panel-default logo-panel">


                                           <img ng-repeat="icon in job.skill_icons" src="{{ icon }}" class="medium-logo"/>



                                </div> <!-- skill icon panel -->
                            </div> <!-- skill icon column -->
                        </div> <!-- bottom row of job detail -->

                    </div> <!-- panel body -->

                </div> <!-- job panel -->
        </tab>
    </tabset>
    {% endverbatim %}


</div> <!-- container -->

<script>
    //A function that takes an element's ID and simulates a mouse click
        function simulateClick(elid) {
              var evt = new MouseEvent("click", {
                bubbles: true,
                cancelable: true,
                view: window
              });
                //I am deeply embarrassed by the next line of code.  LOOK HERE FOR PROBLEMS.
              var cb = document.getElementById(elid).firstElementChild; //element to click on
              var canceled = !cb.dispatchEvent(evt);
              /* TESTING ONLY
                if(canceled) {
                // A handler called preventDefault
                alert("canceled");
              } else {
                // None of the handlers called preventDefault
                alert(cb.innerHTML);
              }
              */
        }
        //document.getElementById("button").addEventListener('click', alert('button clicked'));

    document.addEventListener('DOMContentLoaded', function() {
        //Select the correct initial tab
        //This is sooooo hacky .... no words .....
        simulateClick("tab{{ job_id_selected }}");//
    });
</script>


{% endblock %}
