{% extends 'resume/base.html' %}

{% load static %}

{% block page_scripts %}

    <style>
        .localPad {
            margin: 10px;
        }
    </style>

    <script>
        resume_app.controller("sort_controller", function($scope){
            //Hand off data from middleware (Django) to browser (Angular)
            $scope.jobs_from_django = [
                {% for job in joblist %}
                    {% autoescape off %}
                    {company_name: "{{ job.company_name }}", job_title: "{{ job.job_title }}",
                    job_description: "{{ job.job_description }}", service_time: "{{ job.service_time }}",
                    date_range: "{{ job.date_range }}", detail_link: "{% url 'job_detail' job.id%}",
                    skill_icons: [
                        {% for skill in job.related_skills %}
                            "{% static skill.skill_logo %}",
                        {% endfor %}
                    ], skills: [
                        {% for skill in job.related_skills %}
                            "{{ skill.skill_name }}",
                        {% endfor %}
                    ]},
                    {% endautoescape %}
                {% endfor %}
            ];

            $scope.skills_from_django = [
                {% for skill in skilllist %}
                    {name: "{{ skill.skill_name }}", logo: "{% static skill.skill_logo %}"},
                {% endfor %}
            ];

            $scope.skillIncludes = [];

            $scope.includeSkill = function(skilly) {
                var includedIndex = $scope.skillIncludes.indexOf(skilly);
                if (includedIndex > -1) {
                    $scope.skillIncludes.splice(includedIndex, 1);
                }
                else {
                    $scope.skillIncludes.push(skilly)
                }
            };

            $scope.skillFilter = function(job) {
                if ($scope.skillIncludes.length == 0) {
                    return job;
                }
                else {
                    for (iterator=0; iterator < job.skills.length; iterator++) {
                       if ($scope.skillIncludes.indexOf(job.skills[iterator]) > -1) return job;
                    }
                }
            };
        });
    </script>

{% endblock %}



{% block body_block %}

    <div class="container-fluid" ng-controller="sort_controller">
        <h6>Filter powered by <img src="{% static 'images/angular.jpg' %}" style="width: 30px;"/>ngular.js: </h6>

        <div class="form-group">
            <input type="text" class="form-inline localPad" autofocus ng-model="companyFilter.company_name" placeholder="by Company Name"/>
            {% verbatim %}
                <label ng-repeat="skill in skills_from_django" class="checkbox-inline">
                    <input type="checkbox" ng-click="includeSkill(skill.name)"/><img src="{{ skill.logo }}" class="tiny-logo" alt="{{ skill.name }}" title="{{ skill.name }}"/>
                </label>
            {% endverbatim %}

        </div>

        <!--
        Filter Dump: {% verbatim %}{{ skillIncludes }}{% endverbatim %}
        -->

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Description</th>
                    <th class="skillColumn">Skills Used</th>
                    <th>Service Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in jobs_from_django | filter:skillFilter | filter: companyFilter ">
                    <td>
                        {% verbatim %}<a href="{{ job.detail_link }}" title="See job details">{{ job.company_name }}</a>{% endverbatim %}
                    </td>
                    <td>
                        {% verbatim %}{{ job.job_title }}{% endverbatim %}
                    </td>
                    <td>
                        {% verbatim %}{{ job.job_description }}{% endverbatim %}
                    </td>
                    <td class="skillColumn">
                        {% verbatim %}
                        <span ng-repeat="icon in job.skill_icons">
                            <img src="{{ icon }}" class="tiny-logo" alt="skill_logo"/>
                        </span>
                        {% endverbatim %}
                    </td>
                    <td>
                        <span class="badge" title="{% verbatim %}{{ job.date_range }}{% endverbatim %}">{% verbatim %}{{ job.service_time }}{% endverbatim %}</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div><!-- end container -->
{% endblock %}

