{% extends 'resume/base.html' %}

<div class="container">

    {% block body_block %}


        <h3>These are the jobs that I have had, pulled from postgresql, drawn in a bootstrap table <span style="color:green;">(current)</span>:</h3>

        <table class="table table-striped">
        <thead>
        <tr>
            <th>Job</th>
            <th>Description</th>
            <th>Service Time</th>
        </tr>
        </thead>
        <tbody>
            {% for job in joblist %}
                <tr{% if not job.end_date %} class="success"{% endif %}>
                    <td><a href="{% url 'resume.views.job_detail' job_id=job.id%}">{{ job }}</a></td>
                    <td>{{ job.job_description }}</td>
                    <td><span class="badge" title="{{ job.date_range }}"> {{ job.service_time }} Year{% if job.service_time != 1 and job.service_time != "< 1"%}s{% endif %} </span></td>
                </tr>
            {% endfor %}
        </tbody>

        </table>
    {% endblock %}

</div>