{% extends 'resume/base.html' %}

{% load static %}



{% block body_block %}
    <h3><span class="label label-info"><span class="glyphicon glyphicon-backward"></span> <a href="{% url 'resume.views.all_my_jobs' %}">return to joblist</a></span></h3>


    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h1><img src="{% static job.company_logo %}" class="medium-logo"/> {{ job.company_name }}<span style="float: right;">{{ job.job_title }}</span></h1>

            </div>
            <div class="panel-body">
                <h5 class="date-range">{{ job.date_range }}</h5>

                <p>{{ job.job_description }}</p>

                <ul>
                    {% for thing in job.related_accomplishments %}
                        <li><h4>{{ thing.accomplishment_text }}</h4></li>
                    {% endfor %}
                </ul>
                <div id="menuSpacerDiv"></div>


                <div class="row">
                    <div class="col-lg-6 col-med-6 col-sm-6">
                        {% if job.splash_image %}
                        <div class="panel panel-default image-panel">
                            <figure>
                                <img src="{% static job.splash_image %}" alt="{{ job }} image"/>
                                <figcaption>{{ job.splash_image_caption }}</figcaption>
                            </figure>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-med-6 col-sm-6">
                        <div class="panel panel-default logo-panel" {% if not job.related_skills %}style="visibility:hidden;"{% endif %}>

                                {% for skill in job.related_skills %}
                                   <img src="{% static skill.skill_logo %}" class="medium-logo"/>
                                {% endfor %}


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



{% endblock %}