{% extends 'resume/base.html' %}

{% load static %}

{% block page_scripts %}

    <style>
        .localPad {
            margin: 0 10px;
        }

        .bottomPad {
            margin: 10px 0;
        }

        .autoResizeImage {
            max-width: 100%;
            max-height:100%;
        }

        /* On narrow screens, hide the super-wide column to make the page still work as a grid.  Data is still
            available on detail page. */
        @media (max-width: 768px) {
            .bigColumn {
                display: none;
            }
        }

        @media (max-width: 600px) {
            p {
                font-size: 1em;
            }
        }

        .filteredJobs {

           /* TEMPORARY FOR TEST*/

            display: table-row;

        }

        /* Animation for filters */
        .filteredJobs.ng-enter, .filteredJobs.ng-leave {
            -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        }

        /* TODO: This left animation (slideout) looks great, but it doesn't work with a table layout.  It might work with CSS-table styles.*/
        .filteredJobs.ng-enter.ng-enter-active, .filteredJobs.ng-leave {
            opacity: 1;
            /*left: 0;*/
        }

        .filteredJobs.ng-enter, .filteredJobs.ng-leave-active {
            opacity: 0;
            /*left: -750px;*/
        }

    </style>

    <script>
        resume_app.controller("sort_controller", function($scope){
            //Hand off data from middleware (Django) to browser (Angular)
            $scope.jobs_from_django = [
                {% for job in joblist %}
                    {% autoescape off %}
                    {company_name: "{{ job.company_name }}", job_title: "{{ job.job_title }}",
                    job_description: "{{ job.job_description }}", service_time: "{{ job.service_time }}",
                    date_range: "{{ job.date_range }}", detail_link: "{% url 'job_detail' job.id%}",
                    skill_icons: [
                        {% for skill in job.related_skills %}
                            "{% static skill.skill_logo %}",
                        {% endfor %}
                    ], skills: [
                        {% for skill in job.related_skills %}
                            "{{ skill.skill_name }}",
                        {% endfor %}
                    ]},
                    {% endautoescape %}
                {% endfor %}
            ];

            $scope.skills_from_django = [
                {% for skill in skilllist %}
                    {name: "{{ skill.skill_name }}", logo: "{% static skill.skill_logo %}"},
                {% endfor %}
            ];

            $scope.skillIncludes = [];

            $scope.includeSkill = function(skilly) {
                var includedIndex = $scope.skillIncludes.indexOf(skilly);
                if (includedIndex > -1) {
                    $scope.skillIncludes.splice(includedIndex, 1);
                }
                else {
                    $scope.skillIncludes.push(skilly)
                }
            };

            $scope.skillFilter = function(job) {
                if ($scope.skillIncludes.length == 0) {
                    return job;
                }
                else {
                    for (iterator=0; iterator < job.skills.length; iterator++) {
                       if ($scope.skillIncludes.indexOf(job.skills[iterator]) > -1) return job;
                    }
                }
            };

            //for Typeahead on company filter text input
            $scope.typedText = undefined;

            $scope.go = function(page) {
                window.location = page;
            }

        });
    </script>

{% endblock %}

{% block body_block %}

    <div class="container-fluid" ng-controller="sort_controller">
        <div class="row">
            <div class="col-lg-3 col-med-4 col-sm-5 col-xs-4">
                <img src="{% static 'images/cup-mug-desk-office-300x202.jpg' %}" class="autoResizeImage bottomPad" >
            </div>
            <div class="col-lg-9 col-med-8 col-sm-7 col-xs-8">
                <p>My fifteen-year career has spanned roles and industries, but always with a focus on web technology. I've build software, budgets, and teams.
                My adaptability is my greatest professional asset.</p>
            </div>
            <!--
            <span class="glyphicon glyphicon-briefcase"></span>  -->
        </div>



        <div class="form-group">
            <input type="text" class="form-inline localPad" autofocus ng-model="typedText.company_name" typeahead="job.company_name for job in jobs_from_django | filter: {company_name: $viewValue}" placeholder="by Company Name"/>
            {% verbatim %}
                <label ng-repeat="skill in skills_from_django" class="checkbox-inline">
                    <input type="checkbox" ng-click="includeSkill(skill.name)"/><img src="{{ skill.logo }}" class="tiny-logo" alt="{{ skill.name }}" title="{{ skill.name }}"/>
                </label>
            {% endverbatim %}

        </div>
        <h6>Filter powered by <img src="{% static 'images/angular.jpg' %}" style="width: 30px;"/>ngular.js </h6>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Position</th>
                    <th class="bigColumn">Description</th>
                    <th class="skillColumn">Skills Used</th>
                    <th>Service Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="filteredJobs" ng-repeat="job in jobs_from_django | filter:skillFilter | filter: typedText "
                    ng-click="go(job.detail_link)" title="see details for {% verbatim %}{{ job.company_name }}{% endverbatim %}">
                    <td>
                        {% verbatim %}{{ job.company_name }}{% endverbatim %}
                    </td>
                    <td>
                        {% verbatim %}{{ job.job_title }}{% endverbatim %}
                    </td>
                    <td class="bigColumn">
                        {% verbatim %}{{ job.job_description }}{% endverbatim %}
                    </td>
                    <td class="skillColumn">
                        {% verbatim %}
                        <span ng-repeat="icon in job.skill_icons">
                            <img src="{{ icon }}" class="tiny-logo" alt="skill_logo"/>
                        </span>
                        {% endverbatim %}
                    </td>
                    <td>
                        <span class="badge" title="{% verbatim %}{{ job.date_range }}{% endverbatim %}">{% verbatim %}{{ job.service_time }}{% endverbatim %}</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div><!-- end container -->
{% endblock %}

