{% extends 'resume/base.html' %}

{% load static %}

{% block page_scripts %}
    <link href="{% static 'css/philosophy.css' %}" rel="stylesheet"/>

    <script>

        resume_app.controller('ExampleController', ['$scope', function($scope) {


            // COLOR CHANGING SHAPE

            $scope.color = {
                name: 'blue'
            };

            $scope.circlecolor = "blue";

            $scope.shapeRadii = [
                {name: "circle", radius: "50px"},
                {name: "square", radius: "0px"}
            ];

            $scope.selectedShape = {name: "circle", radius: "50px"};

            $scope.radius = "50px";

            $scope.changeCircleColor = function(inputColor) {
                $scope.circlecolor = inputColor
            };

            //Animation toggle button

            $scope.isActive = "";
            $scope.onOffValue = "On";

            $scope.toggleActive = function() {
                if ($scope.isActive =="") {
                    $scope.isActive = "active";
                    $scope.onOffValue = "Off";
                }
                else {
                    $scope.isActive = "";
                    $scope.onOffValue = "On";
                }

            }


        }]);
    </script>

    <style>
    #innerUnresponsiveExample, #innerResponsiveExample {
        /*
        background: url({% static 'images/blue-wood-texture.jpg' %});
        background-size: contain;
        */
        background-color: #d43f3a;
    }
    </style>
{% endblock page_scripts %}

{% block body_block %}
<div class="container-fluid" ng-controller="ExampleController">

    <h1>Responsiveness</h1>

    <p>Content should be adjusted to look natural on the user's device.</p>

    <div class="row" id="contentRow1">

        <!-- the "responsiveExampleHolder" div is needed to contain the other two divs because bootstrap col classes
         set an element's width to a %.  Since the animation relies on the width property, it can't be on the same
         element as the col-* classes or it would override the width property and break the columns. -->
        {% verbatim %}
        <div class="responsiveExampleHolder col-lg-5 col-med-5 col-sm-4">
            <div class="responsiveExample {{ isActive }}">
                <div id="innerResponsiveExample"><h3 class="toppad">Responsive</h3></div>
            </div>
        </div>

        <div id="ibtspacer1" class="col-lg-2 col-med-2 col-sm-4">
            <button id="animationToggleButton" type="button"ng-click="toggleActive()"> Turn {{ onOffValue }}</button>
        </div>
        <div class="responsiveExampleHolder col-lg-5 col-med-5 col-sm-4">
            <div class= "responsiveExample {{ isActive }} ">
                <div id="innerUnresponsiveExample"><h3 class="toppad">Static</h3></div>
            </div>
        </div>
        {% endverbatim %}
    </div>

    <h1>Transition speeds</h1>
    <p>If most users will be making many changes quickly, changes should be instant.  Otherwise, visual changes should
    move slowly to offer a visual cue.</p>
    <div class="panel panel-primary">
        <div class="panel panel-heading" id="contentRow2">
            Try it!
        </div>
        <div class="panel panel-body">
            <div class="col-lg-5 col-med-5 col-sm-4">
                {% verbatim %}
                    <div id="circleDiv" style="border-radius: {{ selectedShape.radius }}; background: {{ circlecolor }};">
                        <h4 style="position: relative; top:25px;">I am a quick {{ circlecolor }} {{ selectedShape.name }}!</h4>
                    </div>
                {% endverbatim %}
            </div>
            <div id="formDivHolder" class="col-lg-2 col-med-2 col-sm-4">

                <div id="formDiv">
                    <form name="myForm">
                        <label>
                            <input type="radio" ng-model="color.name" ng-click="changeCircleColor('red')" value="red">
                            Red
                        </label>
                        <br/>
                        <label>
                            <input type="radio" ng-model="color.name" ng-click="changeCircleColor('green')" value="green">
                            Green
                        </label>
                        <br/>
                        <label>
                            <input type="radio" ng-model="color.name" ng-click="changeCircleColor('blue')" value="blue">
                            Blue
                        </label>
                        <br/>
                        <select ng-model="selectedShape" ng-options="item.name for item in shapeRadii track by item.radius"></select>
                    </form>
                </div>
            </div>

            <div class="col-lg-5 col-med-5 col-sm-4">
                <div>
                {% verbatim %}
                    <div id="animatedCircleDiv" class="{{ circlecolor }} rad{{ selectedShape.radius }}">
                        <h4 style="position: relative; top:25px;">I am a smooth {{ circlecolor }} {{ selectedShape.name }}!</h4>
                    </div>
                {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
    <h1>Minimalism</h1>
    <p>Don't distract the user.  Get to the content.</p>
    <div class="row" id="contentRow3">
        <div class="col-lg-5 col-med-5 col-sm-5"><h1 id="cleanClean">Clean</h1></div>
        <div class="col-lg-2 col-med-2 col-sm-2" id="ibtspacer3"><h1>&gt;</h1></div>
        <div class="col-lg-5 col-med-5 col-sm-5"><h1 id="busyClean"><span id="busy1">Bu</span><span id="busy2">sy</span></h1></div>
    </div>





</div>


{% endblock body_block %}