{% extends 'resume/base.html' %}

{% block body_block %}
<div class="container">
    <h1>The source code for this project is publicly available on GitHub, <a href="https://github.com/dougmurphy34/InteractiveResume">here</a>.</h1>

    <h1>(Obviously, this page is not complete)</h1>

    <h2>Look how impressive this tech wizardry is!  Like, here's a circle:</h2>
    <div id="circleDiv" style="border-radius: 50px; background: green; width: 100px; height: 100px; text-align: center;">
        <h4>I am a circle!</h4>
    </div>
</div>



{% endblock body_block %}