{% extends 'resume/base.html' %}
{% load static %}


{% block page_scripts %}

    <!-- these styles center and size the image inside the carousel -->
    <style>
/*
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
          width: 70%;
          margin: auto;
        }

        .carousel-indicators {
            bottom: -10px;
            width: 85%;
            margin: auto;
            background-color: #398439;
        }

        .carousel-caption {
            font-size: 20px;
        }
*/
        #jobCarousel {
            width: 600px;
            /*background-image:  url({%static 'Leaf.jpg'%});
            background-size: cover;*/
            background-color: #d58512;
            margin: 20px auto;
        }
        /* Below here: images-as-indicators suggestions from https://gist.github.com/talmand/9695563 */
        #jobCarousel .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: left;
            white-space: nowrap;
            width: 100%;
        }

        #jobCarousel .carousel-indicators li {
            background-color: transparent;
            -webkit-border-radius: 0;
            border-radius: 0;
            display: inline-block;
            height: auto;
            margin: 0 !important;
            width: auto;
        }

        #jobCarousel .carousel-indicators li img {
            display: block;
            height: 60px;
            width: 60px;
        }

        #jobCarousel .carousel-outer {
            position: relative;
        }

        #jobCarousel .carousel-inner {
            width: 85%;
            margin: auto;
        }

        .inlineLogo {
            height: 40px;
            border-radius: 7px;
        }

    </style>

{% endblock page_scripts %}

<!--  For carousel, swap out background images of different sizes based on media queries (size of screen) -->

{% block body_block %}

    <!-- Resume Carousel.  data-interval="false" prevents auto-scroll, which is clearly evil. -->
<div id="jobCarousel" class="carousel slide container" data-ride="carousel" data-interval="false">

    <div class="carousel-outer">
        <div class="carousel-inner" role="listbox">
            {% for job in joblist %}
                <div class="item{% if job.pk == 1 %} active{% endif %}" id="slide{{ forloop.counter0 }}">
                    <table>
                        <tbody>
                            <tr>
                                <td><h2>Company:</h2> </td>
                                <td><h4><img src="{% static job.company_logo %}" alt="logo" class="inlineLogo"/> {{ job.company_name }}</h4></td>
                            </tr>
                            <tr>
                                <td><h2>Position:</h2> </td>
                                <td><h4>{{ job.job_title }}</h4></td>
                            </tr>
                            <tr>
                                <td><h2>Work Done:</h2> </td>
                                <td><h4>{{ job.job_description }}</h4></td>
                            </tr>
                            <tr>
                                <td><h2>Service Time:</h2></td>
                                <td><h4>{{ job.date_range }}</h4></td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="carousel-caption">
                        {{ job.company_name }}
                    </div>
                </div>
            {% endfor %}
        </div>  <!-- end inner carousel -->

          <!-- Controls -->
        <a class="left carousel-control" href="#jobCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#jobCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div> <!-- end outer carousel -->

    <ol class="carousel-indicators">
        {% for job in joblist %}
            <li data-target="#jobCarousel" data-slide-to="{{ forloop.counter0 }}"{% if job.id == 0 %} class=" active{% endif %}"><img src="{% static job.company_logo %}" alt="" /> </li>
        {% endfor %}
    </ol>


</div> <!-- end carousel -->

{% endblock body_block  %}