
    h3.toppad {
        position: relative;
        top: 10px;
        overflow: hidden;
    }

    .row div, #formDivHolder {
        text-align: center;
    }

    #circleDiv, #animatedCircleDiv {
        margin: auto;
    }

    #contentRow1, #contentRow3 {
        padding: 20px 0;
    }

/* BUSY button styling */
    #busyClean {
        background: radial-gradient(pink, orange, lime);
        background: -webkit-radial-gradient(pink, orange, lime);
        background: -moz-radial-gradient(pink, orange, lime);
        background: -o-radial-gradient(pink, orange, lime);
        font-style: italic;
        font-family: "cursive";
        text-decoration: underline;
        border: 2px dashed;
    }

    #busy1 {
        color: green;
    }

    #busy2 {
        color: purple;
    }

/* v-align the "is better than" text when columns are displayed side-by-side, but not in single-column view */
    @media (min-width:768px) {
        #ibtspacer1 {
            top: 60px;
        }
        #ibtspacer3 {
        }
    }

/* Pad stuff (the form between the circles, animate button) on single-column view*/

    @media (max-width: 767px) {
        #formDivHolder {
            padding: 10px 0;
        }

        #animationToggleButton {
            margin-top: 10px;
        }
    }

/* Animation of responsive vs static */
    #innerResponsiveExample {
        position: relative;
        top: 20px;
        height: 50%;
        width: 100%;
        transition: color 2s ease;
    }


    #innerUnresponsiveExample {
        position: relative;
        top: 20px;
        height: 50px;
        width: 200px;
    }

    @keyframes responsiveResize {
        0%, 50%, 100% { width: 60%;}
        25% {width: 80%;}
        75% {width: 30%;}

    }
    @-webkit-keyframes responsiveResize {
        0%, 50%, 100% { width: 60%;}
        25% {width: 80%;}
        75% {width: 30%;}
    }
    @-moz-keyframes responsiveResize {
        0%, 50%, 100% { width: 60%;}
        25% {width: 80%;}
        75% {width: 30%;}
    }
    @-o-keyframes responsiveResize {
        0%, 50%, 100% { width: 60%;}
        25% {width: 80%;}
        75% {width: 30%;}
    }

    .responsiveExample {
        margin: auto;
        padding: 0;
        width: 60%;
        background-color: black;
        height: 150px;
        border-radius: 15px;
    }

    .responsiveExample.active {
        animation: responsiveResize 3s 0.5s infinite linear;
        -webkit-animation: responsiveResize 4s 1.5s infinite linear;
        -moz-animation: responsiveResize 3s 0.5s infinite linear;
        -o-animation: responsiveResize 3s 0.5s infinite linear;/**/
    }

/* for the color-changing radius-changing shape that compares Angular responsiveness and CSS transition smoothness*/
    #circleDiv, #animatedCircleDiv {
        color: white;
        width: 100px;
        height: 100px;
        text-align: center;
    }

    #animatedCircleDiv {
        border-radius: 50px;
        transition: background-color 1.5s ease, border-radius 2s ease;
        -webkit-transition: background-color 1.5s ease, border-radius 2s ease;
        -o-transition: background-color 1.5s ease, border-radius 2s ease;
        -moz-transition: background-color 1.5s ease, border-radius 2s ease;
    }

    #animatedCircleDiv.green {
        background-color: green;
    }

    #animatedCircleDiv.blue {
        background-color: blue;
    }

    #animatedCircleDiv.red {
        background-color: red;
    }

    #animatedCircleDiv.rad50px {
        border-radius: 50px;
    }

    #animatedCircleDiv.rad0px {
        border-radius: 0;
    }