@media (min-width: 640px) {
    .smallscreen {
        display: none;
    }
}

@media (max-width: 1440px) {
    .largescreen {
        display: none;
    }
}

@media (min-width: 1440px) , (max-width: 640px) {
    .mediumscreen {
        display: none;
    }
}

@media all and (orientation: portrait) {
    .widescreen {
        display: none;
    }
}

@media all and (orientation: landscape) {
    .tallscreen {
        display: none;
    }
}



@media (max-device-width: 767px), handheld {
    /* Shut down all the "resize your screen" tricks on non-resizeable screens */
    .resizeable-only {
        display: none;
    }

}

.wider {
    letter-spacing: 5px;
    font-size: 1.2em;
    color: purple;
}

.taller {
    transform: scaleY(1.8);
    font-size: 1.2em;
    color: purple;
}

.small {
    font-size: 0.7em;
    color: brown;
}

.medium {
    color: brown;
}

.large {
    font-size: 1.3em;
    color: brown;
}
/* for the color-changing radius-changing shape that compares Angular responsiveness and CSS transition smoothness*/
#circleDiv, #animatedCircleDiv {
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
}

#animatedCircleDiv {
    border-radius: 50px;
    transition: background-color 1.5s ease, border-radius 2s ease;
    -webkit-transition: background-color 1.5s ease, border-radius 2s ease;
    -o-transition: background-color 1.5s ease, border-radius 2s ease;
    -moz-transition: background-color 1.5s ease, border-radius 2s ease;
}

#animatedCircleDiv.green {
    background-color: green;
}

#animatedCircleDiv.blue {
    background-color: blue;
}

#animatedCircleDiv.red {
    background-color: red;
}

#animatedCircleDiv.rad50px {
    border-radius: 50px;
}

#animatedCircleDiv.rad0px {
    border-radius: 0;
}

#formDiv {
    padding: 0 50px;
    margin-bottom: 20px;
}