/* full-site font from Google.  Does not look good on Internet Explorer.  Does anything? */
body {
    font-family: "Ubuntu Condensed", sans-serif;
}

/* White-colored font with shadow, for overlaying on images (like Jumbotron and Carousel) */
h2 {
    font-size: 1.5em;
    text-shadow: -2px 2px 2px #333;
    margin: 20px;
    color: white;
}

/* Enlarge text intended to be read as prose, but not in (for instance) datagrids */
p {
    font-size: 1.2em;
}

h1:first-letter {
/*CSS3 suggests a double-colon to distinguish this pseudo-element from a pseudo-class,
        but single-colon maintains compatibility with old browsers*/
    font-size: 1.3em;
}

footer {
    clear: both;
    margin-top: 30px;
    background-color: #222222;
    height: 50px;

}

footer h4 {
    color: #dddddd;
    position: relative;
    left: 15px;
    top: 10px;
    width: 80%;
}

.popoutFooterDiv {
            -webkit-transition: 1000ms linear all;
            -o-transition: 1000ms linear all;
            -moz-transition: 1000ms linear all;
            transition: 1000ms linear all;
            position: absolute;
            display: block;
            border: green 5px ridge;
            background-color: black;
            z-index: 16; /* Necessary because carousel indicators in ui-bootstrap are at 15 */
            padding: 5px;
            border-radius: 6px;
            font-family: 'Iceland', cursive;
            max-height: 90%;
            overflow: hidden; /* prevents scrollbars due to overflow on height with tiny width during transition, but
             makes the close animation lose text immediately.  Why?  */
            height: auto;
            width: 80%;
            opacity: 1;
            color: #00DD00;
            top: 100px;
            left: 20px;

}

.popoutFooterDiv.ng-hide {
    height: 0;
    width: 0;
    opacity: 0;
    color: blue;
    top: 10px;
    left: 0;
}

.floatRight {
    float: right;
}

/* To control wrapping of icons.  This gets 2 per row (job_list skills column) */
.skillColumn {
    width: 90px;
}

/* To match common resume styling technique on job_detail page */
.date-range {
    text-align: right;
}

/* for Job Detail page, to center and pad logo box.  Box Shadow for fun. */
.logo-panel, .image-panel {
    padding: 20px;
    text-align: center;
    box-shadow: 8px 8px 10px #8888AA;
    margin: auto;
}

.image-panel img {
    width: 100%;
}

/* For skill logos in job list */
.tiny-logo {
    width: 30px;
    height: 30px;
}

/* For company logos in job detail.  Beware non-squares like Veritas Medicine. */
.medium-logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/* For that one dumb sideways image.  Also, now it plays nicely with paragraph text. */
.front-page-image {
    display: inline-block; /* Because webkit-based browsers ignore -webkit-transform on inline elements */
    width:120px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 20px 10px;
    float: left;
}

/* to make space under the navbar (and prevent content overlap except when scrolling */
#menuSpacerDiv {
    margin-top: 60px;
}

/* jumbotron settings for welcome page*/
.jumbotron {
    position: relative;
    background: none;
    padding: 5px;
    margin-bottom: 25px;
    font-size: 10px;
    font-weight: 200;
    line-height: 2.1428571435;
    font-family: "Open Sans Condensed", arial, helvetica, serif;
}

.jumbotron h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
}

a {
    /* Prevent (glyphicon + text) in links from being split onto separate lines*/
    white-space: nowrap;
}