body {
    font-family: "Open Sans Condensed", arial, helvetica, serif;
}

h1 {
    color: rgba(99,0,0,1);
}

h1 + p {
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    text-shadow: -2px 2px 2px #333;
    margin: 20px;
    /*padding: 40px;*/
    color: white;
}

p {
    font-size: 1.2em;
}

h3:first-letter {
/*CSS3 suggests a double-colon to distinguish this pseudo-element from a pseudo-class,
        but single-colon maintains compatibility with old browsers*/
    font-size: 1.5em;
}

footer {
    clear: both;
    margin-top: 30px;
    background-color: #222222;
    height: 50px;

}

footer h4 {
    color: #dddddd;
    position: relative;
    left: 15px;
    top: 10px;
    width: 80%;
}

.tiny-logo {
    width: 30px;
    height: 30px;
}

.welcomeText {
    font-size: 1.3em;

}
.front-page-image {
    width:120px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 20px 10px;
    float: left;
    /*padding-right: 10px;*/
}

 /*
#navigation {
    float: left;
    width: 150px;
    background: linear-gradient(to bottom right,orange,red);
    background: -webkit-linear-gradient(bottom right, orange, red);
    padding: 20px;
    border-radius: 6px 12px 24px 48px;
    box-shadow: inset 0 0 7px 5px #ddd;

}

#navigation2 {
    float: right;
    width: 200px;
    text-align: center;
    padding: 20px;
    background: #fc0;
    border-radius: 12px 6px 48px 24px;
    box-shadow: inset 0 0 7px 5px #ddd;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

#content {
    margin: 0 200px;
    height: 70px;
    border: 2px solid;
    background: repeating-radial-gradient(#8b2, #8b2 10px, #e90 10px, #e90 20px);
}
*/

/*
#genus_examples > li {
    border: 1px solid red
}

*/

/*
a:link {
    -webkit-transition: all 0.8s ease;
    transition: all 1.5s ease;/*Modern firefox and chrome use this
    color: hsl(36,50%,50%);
}
a:hover {
    color: hsl(277,100%,50%);
}
*/