{% extends 'resume/base.html' %}
{% load static %}

{% block page_scripts %}

    <style>
        /* Make text readable over non-alpha images */
        .carousel-caption {
            background: rgba(0, 0, 10, 0.5)
        }

        /* For small screens (like phones) */
        @media (max-width: 640px) {

            h1 {
                font-size: 1.4em;
            }

            .container {
                max-width: 300px;
            }

            #carouselContainer {
                width: 300px;
            }

            .carousel-caption {
                font-size: 0.7em;
            }
        }


        /* For not-small screens (like desktops) */
        @media (min-width: 639px) {

            .container {
                max-width: 600px;
            }

            #carouselContainer {
                width: 600px;
            }

            .carousel-caption {
                font-size: 1.2em;
            }
        }
    </style>

    <!-- carousel controller -->

    <script>
    resume_app.controller('carouselController', function($scope) {
        $scope.myInterval = 0;
        var slides = $scope.slides = [
            {image: "{% static 'images/potatochiprock-1.6-1.jpg' %}", text: "I'm a Django developer looking for projects.  I have 7 years of experience writing software for the web, and another five managing people.  My preferred tech stack is Linux-Python-Django-postgresql, but I've worked with many web technologies and adapt quickly."},
            {image: "{% static 'images/gassonhall-1.6-1.jpg' %}", text: "I hold a degree in Business Administration (with honors) from Boston College, and a certificate in Green Energy Management from San Diego State.  I'm always learning, including recently completing a course in Bioinformatic Algorithms at Stepic."},
            {image: "{% static 'images/angkormonkey-1.6-1.jpg' %}", text: "I've lived on six continents, but I have happily settled in San Diego.  I love building things, especially in service of social good.  I enjoy beach volleyball, acoustic guitar, and tabletop gaming."},
            {image: "{% static 'images/croppedslanteddesktop-1.6-1.png' %}", text: "My primary interest is in contract web development, but I would consider the perfect full-time fit.  Reach out to me at fake@email.com"}
        ];

    })
    </script>

{% endblock page_scripts %}

{% block body_block %}

    <div class="container">

    <h1>Who is Doug Murphy?</h1>
        <section id="introduction">

            {% verbatim %}
            <div id="carouselContainer" ng-controller="carouselController">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{ slide.image }}" style="margin:auto;"/>
                        <div class="carousel-caption">
                            <p>{{ slide.text }}</p>
                        </div>
                    </slide>
                </carousel>
            </div>

            {% endverbatim %}
        </section>




    </div>


{% endblock body_block %}