<p>
    All development for this site was done in a VMWare virtual machine running Ubuntu Linux.  I used PyCharm as my IDE,
    with integrated GIT for version control.  The site is deployed on Heroku, a PaaS that offers Django hosting.
</p>

<p>
    Like most web projects, this one relied heavily on third party libraries, including:
    <ul>
        <li>Angular.js for interactive components</li>
        <li>Boostrap for CSS</li>
        <li>ui-bootstrap to integrate Angular and Boostrap without jQuery</li>
        <li>postgresql as a database</li>
        <li>Django to implement MVC and abstract the database</li>
        <li>psycopg2 library to integrate Django and postgresql</li>
        <li>virtualenv and virtualenv-wrapper for virtual environments</li>
        <li>whitenoise for static file serving on Heroku</li>
    </ul>
</p>