<!-- This page is included in the footer of base.html and hidden by default.
    It contains information on how I build the site, and how I built the page the user is currently on. -->

<style>
    .closeX {
        border: 3px solid;
        font-size: 1.5em;
        float: right;
        padding: 0 5px;
    }

    .closeX:hover {
        color: white;
        cursor: pointer;
    }

    p.index, p.all_my_jobs, p.about, p.portfolio, p.job_detail {
        display: none;
    }

    p.{{ nbar }} {
        display: block;
    }

    .hrClass {
        text-align: center;
        width: 40%;
    }

</style>

<span class="closeX" ng-click="toggleFooterDiv()"> X </span>
<p class="index">WELCOME PAGE</p>
<p class="index">This page features Bootstrap's jumbotron, glyphicons and navbar.</p>
<p class="all_my_jobs">JOB LIST</p>
<p class="all_my_jobs">This page uses a ui-bootstrap datagrid to display data stored in a postgresql database.  The
grid is contextualized with CSS media queries.  Data can be filtered by skill using Angular.js, or by company name with
    the help of an Angular typeahead.  The visual filter is aided by CSS transition animations.</p>
<p class="job_detail">JOB DETAIL</p>
<p class="job_detail">This page is laid out with Bootstrap panels, filtered with Django conditionals.  Data is pulled
    from postgresql using a Django queryset.</p>
<p class="about">ABOUT</p>
<p class="about">This page uses a ui-bootstrap carousel, sized with CSS media queries to fit your device.</p>
<p class="portfolio">PORTFOLIO</p>
<p class="portfolio">This page showcases CSS media queries and CSS animations, as well as Angular.js data binding.</p>

<hr class="hrClass">

<p>
    All development for this site was done in a VMWare virtual machine running Ubuntu Linux.  I used PyCharm as my IDE,
    with integrated GIT for version control.  The site is deployed on Heroku, a PaaS that offers Django hosting.
</p>

<p>
    Like most web projects, this one relied heavily on third party libraries, including:
    <ul>
        <li>Angular.js for interactive components</li>
        <li>Boostrap for CSS</li>
        <li>ui-bootstrap to integrate Angular and Boostrap without jQuery</li>
        <li>postgresql as a database</li>
        <li>Django to implement MVC and abstract the database</li>
        <li>psycopg2 library to integrate Django and postgresql</li>
        <li>virtualenv and virtualenv-wrapper for virtual environments</li>
        <li>whitenoise for static file serving on Heroku</li>
    </ul>
</p>