{% extends 'resume/base.html' %}
{% load static %}

{% block body_block %}



    <!-- START CSS TEST CODE -->

    <!--<div id="navigation2">
        <ul>
            <li><a href="this.html">This</a></li>
            <li><a href="that.html">That</a></li>
            <li><a href="theOther.html">The Other</a></li>
        </ul>
    </div>

    <div id="content">
        <h1 style="text-align: center">WOW!</h1>
    </div>


    <ul id="genus_examples">
        <li>Cats
            <ul>
                <li>Panthera</li>
                <li>Felis</li>
                <li>Neofelis</li>
            </ul>
        </li>
        <li>Apes
            <ul>
                <li>Pongo</li>
                <li>Pan</li>
                <li>Homo</li>
            </ul>
        </li>
    </ul>

    <h1>Clouded leopards</h1>
    <p>Clouded leopards are cats that belong to the genus Neofelis.</p>
    <p>There are two extant species: Neofelis nebulosa and Neofelis diardi.</p>


    <div id="footer">
        <p>Footer! Hoorah!</p>
    </div>
-->




    <!-- END CSS TEST CODE -->
{% endblock %}