{% extends 'resume/base.html' %}
{% load static %}

{% block page_scripts %}
   <!-- futzing with Jumbotron.  Move this to stylesheet when done (or, don't use a Jumbotron)-->
    <style>

        .jumbotron {
            position: relative;
            background: none;
            padding: 5px;
            margin-bottom: 25px;
            font-size: 10px;
            font-weight: 200;
            line-height: 2.1428571435;
        }

        .jumbotron:after {
            content:"";
            background: url({% static 'images/croppedslanteddesktop.png' %}) no-repeat;
            background-size: cover;
            opacity: 0.2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
         }

        .jumbotron h1 {
            padding: 50px;
            text-align: center;
            z-index: 2;
            position: relative;
        }

        a {
            /* Prevent (glyphicon + text) in links from being split onto separate lines*/
            white-space: nowrap;
        }

    </style>

{% endblock page_scripts %}

{% block body_block %}

        <!-- Page Header
    <div class="container welcome" style="margin-top: 40px;">
        <h2><img src="{% static "DougFace2.JPG" %}" alt="DougImage2" class="img-rounded front-page-image">  Welcome to Doug's Interactive Resume Project!</h2>
    </div>-->

    <!-- My Jumbotron - for Welcome page -->

    <div class="container mainJumbo">
        <div class="jumbotron">
            <h1>Doug Murphy's Interactive Resume</h1>
        </div>
    </div>

    <div class="container">
        <p>
            <img src="{% static "DougFace2.JPG" %}" alt="DougImage2" class="img-rounded front-page-image">
            I built this website to both tell and show you what I can do.  Here you'll find information on all my career accomplishments, displayed using the most popular technologies on the web.  You won't have to wonder if I can put out a finished product - you're looking at one.
        </p>
        <p>

            Check out the <a href="{% url 'resume.views.all_my_jobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Work Summary</a> page for a quick visual overview,
            or the <a href="{% url 'resume.views.portfolio' %}"><span class="glyphicon glyphicon-blackboard"></span> Portfolio</a> page for a little showing off.
        </p>
    </div>



{% endblock %}