{% extends 'resume/base.html' %}
{% load static %}

{% block page_scripts %}
   <!-- Background for Jumbotron; can't go in .css because it requires static -->
    <style>
        .jumbotron:after {
            content:"";
            background: url({% static 'images/croppedslanteddesktop.png' %}) no-repeat;
            background-size: cover;
            opacity: 0.2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
         }

    </style>

{% endblock page_scripts %}

{% block body_block %}

        <!-- Page Header
    <div class="container welcome" style="margin-top: 40px;">
        <h2><img src="{% static "DougFace2.JPG" %}" alt="DougImage2" class="img-rounded front-page-image">  Welcome to Doug's Interactive Resume Project!</h2>
    </div>-->

    <!-- My Jumbotron - for Welcome page -->

    <div class="container mainJumbo">
        <div class="jumbotron">
            <h1>Doug Murphy's Interactive Resume</h1>
        </div>
    </div>

    <div class="container">
        <p>
            <img src="{% static "DougFace2.JPG" %}" alt="DougImage2" class="img-rounded front-page-image">
            Traditional resumes are a good way to list work history and accomplishments, but when you're looking for a web
            designer, it's best to see a portfolio of work as well.  I built this website to do both.
        </p>
        <p>
            Check out <a href="{% url 'resume.views.all_my_jobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Work Summary</a>
            to see where I've worked, or <a href="{% url 'resume.views.portfolio' %}"><span class="glyphicon glyphicon-blackboard"></span> Portfolio</a>
            to see what I can do with leading web technologies.
        </p>
    </div>



{% endblock %}