{% extends 'resume/base.html' %}

{% load static %}

{% block page_scripts %}
    <script>
        // create our angular app and inject ui.bootstrap
        //var angularApp = angular.module('angularApp', ['ui.bootstrap']);
        var my_controller = resume_app.controller("MyCtrl", function($scope) {
            $scope.friends = [
                { name: "Peter",   age: 20 },
                { name: "Pablo",   age: 55 },
                { name: "Linda",   age: 20 },
                { name: "Marta",   age: 37 },
                { name: "Othello", age: 20 },
                { name: "Markus",  age: 32 }
            ];

            $scope.jobs_from_django = [
                {% for job in alljobs %}
                    { name: "{{ job.company_name }}", start_date: "{{ job.start_date }}" },
                {% endfor %}

            ];
        });


    </script>

    <style>



   /* Name filter event */


    .slide-animation.ng-enter,
        .slide-animation.ng-leave
        {
          -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          position: relative;
          display: block;
        }

        .slide-animation.ng-enter.ng-enter-active,
        .slide-animation.ng-leave {
          opacity: 1;
          top: 0;
          height: 30px;
        }

        .slide-animation.ng-leave.ng-leave-active,
        .slide-animation.ng-enter {
          opacity: 0;
          top: -50px;
          height: 0;
        }

    /* Show Hide attempt*/

    .sample-show-hide {
        padding:10px;
        border:1px solid black;
        background:white;
    }

    .sample-show-hide {
        -webkit-transition:all linear 1.5s;
        transition:all linear 1.5s;
    }

    .sample-show-hide.ng-hide {
        opacity:0;
    }
    </style>

{% endblock %}

{% block body_block %}

    <div  ng-controller="MyCtrl" class="well" style="margin-top: 30px; width: 200px; overflow: hidden;">
    <form class="form-search">
        <div class="input-append">
          <input type="text" ng-model="search" class="search-query" style="width: 80px">
          <button type="submit" class="btn">Search</button>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li class="slide-animation" ng-repeat="name in friends | filter:search">
            <a href="#"> {%verbatim%} {{name.name}}, {{ name.age }}{% endverbatim %} </a>
          </li>
      </ul>
    </form>
  </div>

    <div ng-init="checked=true">
      <label>
        <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Is Visible...
      </label>
      <div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">
        Visible...
      </div>
    </div>

    <blockquote style="white-space: pre">Travel like a king
Listen to the inner voice
A higher wisdom is at work for you
Conqering the stumbling blocks come easier
When the conqueror is in tune with the infinite
Every ending is a new beginning
Life is an endless unfoldment
Change your mind, and you change your relation to time

You can find the answer
The solution lies within the problem
The answer is in every question
Dig it?
An attitude is all you need to rise and walk away
Inspire yourself
Your life is yours
It fits you like your skin

The oak sleeps in the acorn
The giant sequoia tree sleeps in its tiny seed
The bird waits in the egg
God waits for his unfoldment in man
Fly on, children
Play on

You gravitate to that which you secretly love most
You meet in life the exact reproduction of your own thoughts
There is no chance, coincidence or accident
In a world ruled by law and divine order
You rise as high as your dominant aspiration
You descend to the level of your lowest concept of your self
Free your mind and your ass will follow

The infinite intelligence within you knows the answers
Its nature is to respond to your thoughts
Be careful of the thought-seeds you plant in the garden of your mind
For seeds grow after their kind

Play on, children

Every thought felt as true
Or allowed to be accepted as true by your conscious mind
Take roots in your subconscious
Blossoms sooner or later into an act
And bears its own fruit
Good thoughts bring forth good fruit
Bullshit thoughts rot your meat
Think right, and you can fly
The kingdom of heaven is within
Free your mind, and your ass will follow

Play on, children
Sing on, lady</blockquote>

{% endblock %}