{% extends 'resume/base.html' %}

{% load static %}

{% block page_scripts %}
    <script>
        // create our angular app and inject ui.bootstrap
        //var angularApp = angular.module('angularApp', ['ui.bootstrap']);
        var my_controller = resume_app.controller("MyCtrl", function($scope) {
            $scope.friends = [
                { name: "Peter",   age: 20 },
                { name: "Pablo",   age: 55 },
                { name: "Linda",   age: 20 },
                { name: "Marta",   age: 37 },
                { name: "Othello", age: 20 },
                { name: "Markus",  age: 32 }
            ];

            $scope.jobs_from_django = [
                {% for job in alljobs %}
                    { name: "{{ job.company_name }}", start_date: "{{ job.start_date }}" },
                {% endfor %}

            ];
        });


    </script>

    <style>

   /* Name filter event */


    .slide-animation.ng-enter,
        .slide-animation.ng-leave
        {
          -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          position: relative;
          display: block;
        }

        .slide-animation.ng-enter.ng-enter-active,
        .slide-animation.ng-leave {
          opacity: 1;
          top: 0;
          height: 30px;
        }

        .slide-animation.ng-leave.ng-leave-active,
        .slide-animation.ng-enter {
          opacity: 0;
          top: -50px;
          height: 0;
        }

    /* Show Hide attempt*/

    .sample-show-hide {
        padding:10px;
        border:1px solid black;
        background:white;
    }

    .sample-show-hide {
        -webkit-transition:all linear 1.5s;
        transition:all linear 1.5s;
    }

    .sample-show-hide.ng-hide {
        opacity:0;
    }
    </style>

{% endblock %}

{% block body_block %}

    <div  ng-controller="MyCtrl" class="well" style="margin-top: 30px; width: 200px; overflow: hidden;">
    <form class="form-search">
        <div class="input-append">
          <input type="text" ng-model="search" class="search-query" style="width: 80px">
          <button type="submit" class="btn">Search</button>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li class="slide-animation" ng-repeat="name in friends | filter:search">
            <a href="#"> {%verbatim%} {{name.name}}, {{ name.age }}{% endverbatim %} </a>
          </li>
      </ul>
    </form>
  </div>

    <div ng-init="checked=true">
      <label>
        <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Is Visible...
      </label>
      <div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">
        Visible...
      </div>
    </div>

{% endblock %}